<template>
  <v-layout row>
    <v-flex xs12 sm6 offset-sm3>
      <v-card>
        <v-toolbar
        color="teal"
        dark>
          <v-toolbar-title>Todos</v-toolbar-title>
        </v-toolbar>
        <v-divider />
        <v-list
          subheader
          two-line
        >
          <v-list-tile
          v-for="todo in todos"
          :key="todo.id"
         >
            <v-list-tile-action>
              <v-checkbox @change="complete(todo)" v-model="todo.completed"></v-checkbox>
            </v-list-tile-action>

            <v-list-tile-content>
              <v-list-tile-title>{{todo.name}}</v-list-tile-title>
            </v-list-tile-content>
              <v-btn  flat small color="primary" @click="remove(todo)">Delete</v-btn>
          </v-list-tile>

        </v-list>

         <v-form @submit.prevent="submit">
          <v-layout row justify-center>
            <v-flex xs12 md6>
            <v-text-field
              @change="setNewTodo"
              label="Todo Name"
            ></v-text-field>

            </v-flex>
            <v-btn
            @click="submit"
            color="success"
          >
            Add
          </v-btn>
          </v-layout>
        </v-form>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  data() {
    return {
      newTodo: '',
    };
  },
  methods: {
    setNewTodo(e) {
      this.newTodo = e;
    },
    submit() {
      this.$store.dispatch('addTodo', this.newTodo);
    },
    edit(todo) {
      this.$store.dispatch('editTodo', todo);
    },
    complete(todo) {
      this.$store.dispatch('completeTodo', todo);
    },
    remove(todo) {
      this.$store.dispatch('deleteTodo', todo);
    },
  },
  created() {
    this.$store.dispatch('loadTodos');
  },
  computed: {
    todos() {
      return this.$store.getters.todos;
    },
  },
};
</script>
