
<template>
  <div id="app">
    <v-app>
      <Todos></Todos>
    </v-app>
  </div>
</template>

<script>
import Todos from './components/Todos.vue';

export default {
  components: {
    Todos,
  },
};
</script>
